<a href="https://colab.research.google.com/github/FSXV92/website_wagon/blob/Dev/Bolk_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import auth
import pandas as pd

auth.authenticate_user()

query = """
with tmp as (
  select distinct Order_ID, Recipe, Payment_date from `bolk-data-consulting-371411.bolk.orders` where Recipe is not null
)


SELECT Customer_ID as customer_id 
,o.Order_ID as order_id
,Order_group_ID as order_group_id
,Order_success as order_success
,Order_group_state as order_group_state
,Robot_ID as robot_id
,Robot as robot
,t.Payment_date as payment_date
,t.Recipe as recipe
,Super_Bowl as super_bowl
,Ingredient as ingredient
,Ingredient_ID as ingredient_id
,Weight as weight
,Distributed as distributed
,Price as price
,ROUND(Total_price,2) as total_price
,ROUND(Refunded,2) as refunded
,Discount_tag as discount_tag
,ROUND(Used_cagnotte,2) as used_cagnotte
,if (Green_hours_discount_amount is not null,0.5,0) as green_hours_discount_amount
,Is_menu_discounted as is_menu_discounted
,Nayax_transaction_id as nayax_transaction_id
,Nayax_card_number as nayax_card_number
,Nayax_card_bin as nayax_card_bin
FROM `bolk-data-consulting-371411.bolk.orders` o
LEFT JOIN tmp t on o.order_id=t.Order_ID 
"""

df = pd.read_gbq(query,project_id="bolk-data-consulting-371411")
df

,customer_id,order_id,order_group_id,order_success,order_group_state,robot_id,robot,payment_date,recipe,super_bowl,...,price,total_price,refunded,discount_tag,used_cagnotte,green_hours_discount_amount,is_menu_discounted,nayax_transaction_id,nayax_card_number,nayax_card_bin
0,2214,26026,24835,True,SUCCESS,6,JULI,2022-10-04 15:15:45.221000+00:00,La poulette,False,...,3.75,0.00,0.0,None,3.75,0.5,<NA>,<NA>,None,<NA>
1,2214,26026,24835,True,SUCCESS,6,JULI,2022-10-04 15:15:45.221000+00:00,La poulette,False,...,3.75,0.00,0.0,None,3.75,0.5,<NA>,<NA>,None,<NA>
2,2214,26026,24835,True,SUCCESS,6,JULI,2022-10-04 15:15:45.221000+00:00,La poulette,False,...,3.75,0.00,0.0,None,3.75,0.5,<NA>,<NA>,None,<NA>
3,3002,26053,24855,True,SUCCESS,6,JULI,2022-10-04 17:50:44.497000+00:00,La poulette,False,...,3.75,0.00,0.0,None,3.75,0.5,<NA>,<NA>,None,<NA>
4,3002,26053,24855,True,SUCCESS,6,JULI,2022-10-04 17:50:44.497000+00:00,La poulette,False,...,3.75,0.00,0.0,None,3.75,0.5,<NA>,<NA>,None,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6078,1277,27884,26399,True,SUCCESS,6,JULI,2022-10-18 10:41:49.102000+00:00,Custom,False,...,8.90,6.48,0.0,None,2.42,0.0,<NA>,6867020114,6955,497355
6079,1277,27884,26399,True,SUCCESS,6,JULI,2022-10-18 10:41:49.102000+00:00,Custom,False,...,8.90,6.48,0.0,None,2.42,0.0,<NA>,6867020114,6955,497355
6080,1277,27884,26399,True,SUCCESS,6,JULI,2022-10-18 10:41:49.102000+00:00,Custom,False,...,8.90,6.48,0.0,None,2.42,0.0,<NA>,6867020114,6955,497355
6081,1277,27884,26399,True,SUCCESS,6,JULI,2022-10-18 10:41:49.102000+00:00,Custom,False,...,8.90,6.48,0.0,None,2.42,0.0,<NA>,6867020114,6955,497355
6082,1277,27884,26399,True,SUCCESS,6,JULI,2022-10-18 10:41:49.102000+00:00,Custom,False,...,8.90,6.48,0.0,None,2.42,0.0,<NA>,6867020114,6955,497355

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6083 entries, 0 to 6082
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customer_id                  4376 non-null   Int64
 1   order_id                     6081 non-null   Int64
 2   order_group_id               6081 non-null   Int64
 3   order_success                6081 non-null   boolean
 4   order_group_state            6081 non-null   object
 5   robot_id                     6081 non-null   Int64
 6   robot                        6081 non-null   object
 7   payment_date                 6081 non-null   datetime64[ns, UTC]
 8   recipe                       6081 non-null   object
 9   super_bowl                   6081 non-null   boolean
 10  ingredient                   6081 non-null   object
 11  ingredient_id                6081 non-null   Int64
 12  weight                       6081 non-null   float64
 13  distributed                  6081 non-null   Int64
 14  price                        6081 non-null   float64
 15  total_price                  6081 non-null   float64
 16  refunded                     6081 non-null   float64
 17  discount_tag                 35 non-null     object
 18  used_cagnotte                6081 non-null   float64
 19  green_hours_discount_amount  6083 non-null   float64
 20  is_menu_discounted           704 non-null    boolean
 21  nayax_transaction_id         5847 non-null   Int64
 22  nayax_card_number            5847 non-null   object
 23  nayax_card_bin               5698 non-null   Int64
dtypes: Int64(8), boolean(3), datetime64[ns, UTC](1), float64(6), object(6)
memory usage: 1.1+ MB